<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Architecture</mat-toolbar>
    <!--<mat-nav-list>
      <mat-list-item routerLink="users">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Users</h3>
      </mat-list-item>
    </mat-nav-list>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
