<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Architecture</mat-toolbar>
    <!--<mat-nav-list>
      <mat-list-item routerLink="users">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Users</h3>
      </mat-list-item>
    </mat-nav-list>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!--<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>architecture-starter</span>
    </mat-toolbar>-->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
